<nav class="p-2 fixed w-full top-0 z-50">
    <div class="mx-auto container flex justify-between items-center">
        <div class="flex items-center space-x-7">
            <div class="w-12"><img src='/img/logo.png' alt="logo"></div>
        </div>
        <div>
            <a href="/home" class="text-gray-700 hover:text-white">Home</a>
            <a href="/about" class="text-gray-700 hover:text-white mx-4">About</a>
            <a href="/upload" class="text-gray-700 hover:text-white">Upload</a>
        </div>
        <a href="/login" class="text-gray-700 hover:text-white mx-7">Logout</a>
    </div>
</nav>